@{
	ViewData["Title"] = "Hồ sơ khách hàng";
}
@if (ViewBag.khachhang != null)
{
	<h3>Chào @ViewBag.khachhang.Ten!</h3>
	<p><a class="nav-link active" aria-current="page" asp-controller="MatHangCustom" asp-action="Index">Trở về trang chính</a></p>
	<p><a asp-action="Signout">Đăng xuất</a></p>
}
else
{
	<p>Vui lòng <a asp-action="Login">Đăng nhập</a></p>
}