USE [master]
GO
/****** Object:  Database [webbansach]    Script Date: 12/14/2024 9:39:19 PM ******/
CREATE DATABASE [webbansach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'webbansach', FILENAME = N'D:\webbansach.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'webbansach_log', FILENAME = N'D:\webbansach_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [webbansach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [webbansach]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 12/14/2024 9:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MaCV] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[HeSo] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 12/14/2024 9:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[MaCTHD] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[DonGia] [int] NULL,
	[SoLuong] [smallint] NULL,
	[ThanhTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUAHANG]    Script Date: 12/14/2024 9:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUAHANG](
	[MaCH] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[DienThoai] [varchar](20) NULL,
	[DiaChi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 12/14/2024 9:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MaDM] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIACHI]    Script Date: 12/14/2024 9:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIACHI](
	[MaDC] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[PhuongXa] [varchar](20) NULL,
	[QuanHuyen] [varchar](50) NULL,
	[TinhThanh] [varchar](50) NULL,
	[MacDinh] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/14/2024 9:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[Ngay] [datetime] NULL,
	[TongTien] [int] NULL,
	[MaKH] [int] NOT NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/14/2024 9:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[DienThoai] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
	[MatKhau] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 12/14/2024 9:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[GiaGoc] [int] NULL,
	[GiaBan] [int] NULL,
	[SoLuong] [smallint] NULL,
	[MoTa] [nvarchar](1000) NULL,
	[HinhAnh] [varchar](255) NULL,
	[MaDM] [int] NOT NULL,
	[LuotXem] [int] NULL,
	[LuotMua] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/14/2024 9:39:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[MaCV] [int] NOT NULL,
	[DienThoai] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
	[MatKhau] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CHUCVU] ADD  DEFAULT ((1.0)) FOR [HeSo]
GO
ALTER TABLE [dbo].[CTHOADON] ADD  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[CTHOADON] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[DIACHI] ADD  DEFAULT (N'Đông Xuyên') FOR [PhuongXa]
GO
ALTER TABLE [dbo].[DIACHI] ADD  DEFAULT (N'TP. Long Xuyên') FOR [QuanHuyen]
GO
ALTER TABLE [dbo].[DIACHI] ADD  DEFAULT (N'An Giang') FOR [TinhThanh]
GO
ALTER TABLE [dbo].[DIACHI] ADD  DEFAULT ((1)) FOR [MacDinh]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (getdate()) FOR [Ngay]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[MATHANG] ADD  DEFAULT ((0)) FOR [GiaGoc]
GO
ALTER TABLE [dbo].[MATHANG] ADD  DEFAULT ((0)) FOR [GiaBan]
GO
ALTER TABLE [dbo].[MATHANG] ADD  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[MATHANG] ADD  DEFAULT ((0)) FOR [LuotXem]
GO
ALTER TABLE [dbo].[MATHANG] ADD  DEFAULT ((0)) FOR [LuotMua]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD FOREIGN KEY([MaSach])
REFERENCES [dbo].[MATHANG] ([MaSach])
GO
ALTER TABLE [dbo].[DIACHI]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD FOREIGN KEY([MaDM])
REFERENCES [dbo].[DANHMUC] ([MaDM])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MaCV])
REFERENCES [dbo].[CHUCVU] ([MaCV])
GO
USE [master]
GO


 ------------------------------------------- seed data  -------------------------------------------


 -- Dữ liệu bảng CUA_HANG
INSERT INTO CUAHANG(Ten, DienThoai, DiaChi) VALUES(N'Cửa hàng sách BStore','0296-3841190',N'18 Ung Văn Khiêm, P Đông Xuyên, TP Long Xuyên, An Giang');

-- Dữ liệu bảng LOAI_HANG
INSERT INTO DANHMUC(Ten) VALUES(N'Sách giáo khoa');
INSERT INTO DANHMUC(Ten) VALUES(N'Sách tham khảo');
INSERT INTO DANHMUC(Ten) VALUES(N'Tiểu thuyết');




-- Dữ liệu bảng MATHANG
INSERT INTO MATHANG (Ten, GiaGoc, GiaBan, SoLuong, MoTa, HinhAnh, MaDM, LuotXem, LuotMua) 
VALUES (N'Sách giáo khoa lớp 1', 20000, 25000, 100, N'Sách giáo khoa đầy đủ môn học lớp 1', 'sgk_1.jpg', 1, 50, 10);

INSERT INTO MATHANG (Ten, GiaGoc, GiaBan, SoLuong, MoTa, HinhAnh, MaDM, LuotXem, LuotMua) 
VALUES (N'Sách giáo khoa lớp 12', 40000, 50000, 150, N'Sách giáo khoa đầy đủ môn học lớp 12', 'sgk_12.jpg', 1, 70, 25);

INSERT INTO MATHANG (Ten, GiaGoc, GiaBan, SoLuong, MoTa, HinhAnh, MaDM, LuotXem, LuotMua) 
VALUES (N'Tiếng Anh lớp 6', 30000, 35000, 200, N'Sách tiếng Anh hệ 10 năm lớp 6', 'ta_6.jpg', 1, 80, 30);




















