html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.img-thumbnail {
    border-radius: 8px;
    margin-top: 10px;
    max-height: 150px;
}

.card-header {
    font-size: 1.25rem;
    font-weight: bold;
}


.img-thumbnail {
    margin: 10px 0;
    border-radius: 10px;
}

.card-header {
    font-size: 1.25rem;
    font-weight: bold;
}


.img-thumbnail {
    margin-top: 10px;
    border-radius: 10px;
}
